<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>EC2 Instance Operations</title>
  </head>
  <body>
  <h3>This is my first Github Repository.</h3>
  <ul>
  <li><a href="https://docs.aws.amazon.com/">aws-doc</a></li>
  <li><a href="https://medium.com/@rodkey/deploying-a-flask-application-on-aws-a72daba6bb80">Deploying-Flask-Over-EC2</a></li>
  <li><a href="https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.run_instances">Creating AWS services using Python Boto3</a> </li>
  </ul>

   <h2> My Flask application Using AWS Ubuntu ec2 instance.</h2>
   <p> Flask is Fun.<br /> One should start learning python and then the creation of the very basic applications are required.<br />
   Flask comes very handy, as it helps in creation of light weighted web applications.
   </p>

  <h4>Please, share any issues and problems with the code.</h4>
  </body>

    <style>
        body {
            background-image: url(../static/pp.jpg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:68px;
            margin-bottom:50px;
            background-size: cover;
        }

        p {
            font-family: Arial;
            font-size: 2em;
            color: white;
            }

        h2 {
            font-family: Arial;
            color: Yellow;
            font-size:3em;

        }
    </style>
</html>